<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--SERVLETS-->
    <servlet>
        <servlet-name>eshopController</servlet-name>
        <servlet-class>ru.kushnarev.controllers.SiteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eshopController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>autorisation</servlet-name>
        <servlet-class>ru.kushnarev.controllers.AutorisationEshopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>autorisation</servlet-name>
        <url-pattern>/autorisation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>ru.kushnarev.controllers.VerificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addAccount</servlet-name>
        <servlet-class>ru.kushnarev.controllers.AddAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAccount</servlet-name>
        <url-pattern>/add_account</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>ru.kushnarev.controllers.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/add_product</url-pattern>
    </servlet-mapping>

    <!--FILTERS-->
    <filter>
        <filter-name>autorize</filter-name>
        <filter-class>ru.kushnarev.filters.AutorisationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>autorize</filter-name>
        <servlet-name>addProduct</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>dbFilter</filter-name>
        <filter-class>ru.kushnarev.filters.AddBaseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>dbFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
</web-app>